<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sales</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.2/flatpickr.min.css">
  <link rel="stylesheet" href="styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.8/vue.js"></script>
  <script src="https://unpkg.com/vuex@2.0.0"></script>
  <script src="https://unpkg.com/semantic-ui-vue/dist/umd/semantic-ui-vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.2/flatpickr.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-flatpickr-component@8.1.1/dist/vue-flatpickr.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.min.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router"></script>
</head>
<body>
  <br /><br />

  <!-- Root component -->
  <div id="app">
    <transition mode="out-in" name="fade">
      <router-view :key="$route.path"></router-view>
    </transition>
  </div>
  
  <!-- Sales Form Template -->
  <template id="sales-form">
    <div>
      <modal></modal>
      <transition name="fade" mode="out-in">
        <sui-dimmer v-if="false" active inverted>
          <sui-loader content="Loading..."></sui-loader>
        </sui-dimmer>
      </transition>
      <transition name="fade" mode="out-in">
        <div id="form" v-if="true">
          <!--- Buttons --->
          <div class="ui grid">
            <div class="ui sixteen wide column" id="top">
              <div class="ui grid" style="background-color:white">
                <div class="ui sixteen wide column" style="padding-bottom: 0">
                  <div class="ui container">
                    <div class="ui form">
                      <div class="four inline fields" style="margin-bottom: 0">
                        <div class="field">
                        <sui-button basic color="black" icon="left chevron" 
                                    @click="$router.push({ name: 'index' })">
                          Back
                        </sui-button>
                        <sui-button @click="submit" label-position="left" color="green" icon="save">
                          Save
                        </sui-button>
                      </div>
                        <div class="field"></div>
                        <div class="required field" style="text-align: right">
                          <label>Status</label>
                        </div>
                        <div class="required field" style="padding: 0">
                          <sui-dropdown fluid selection direction="downward"
                                        v-model="saleStatus"
                                        :options="saleStatuses"
                                        placeholder="Sale Status"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Form -->
          <div class="ui container">
            <!--- Tabs --->
            <div class="ui grid" style="margin-top:5em">
              <div class="sixteen wide column">
                <sui-tab :active-index.sync="activeTab">
                  <!-- Sale Tab -->
                  <sui-tab-pane title="Sale" icon="dollar">
                    <sui-form>
                      <sui-form-field required>
                        <label>Sell to</label>
                        <sui-dropdown fluid selection direction="upward"
                                      v-model="sellTo"
                                      :options="sellToOptions"
                                      placeholder="Sell To"
                                      :error="errors.hasOwnProperty('sellTo')"
                                      selection></sui-dropdown>
                        <transition mode="out-in" name="fade">
                          <sui-label basic color="red" pointing 
                                      v-if="errors.hasOwnProperty('sellTo')">
                            {{ errors.sellTo[0] }}
                          </sui-label>
                        </transition>
                      </sui-form-field>
                      <sui-form-field required>
                        <label>Customer</label>
                        <sui-dropdown fluid direction="upward"
                                      v-model="customer"
                                      :options="customerOptions"
                                      placeholder="Customer"
                                      search selection></sui-dropdown>
                        <transition mode="out-in" name="fade">
                          <sui-label basic color="red" pointing 
                                      v-if="errors.hasOwnProperty('customer')">
                            {{ errors.customer[0] }}
                          </sui-label>
                        </transition>
                      </sui-form-field>
                      <sui-form-field>
                        <label>Grades</label>
                        <sui-dropdown fluid multiple direction="upward"
                                      v-model="grades"
                                      :options="gradeOptions"
                                      placeholder="Grades"
                                      multiple selection 
                        />
                      </sui-form-field>
        
                      <!-- Event Form -->
                      <div id="events">
                        <transition-group mode="out-in" name="fade">
                          <event-form v-if="(customer != null)" 
                          v-for="(n, i) in numberOfEvents" 
                          :key="n"  
                          :cashier="{ id: 3 }"
                          :type="type || 2"
                          />
                        </transition-group>
                      </div>
        
                      <br />
                      <!-- Add Another Event -->
                      <sui-button v-if="(customer != null)"
                                  label-position="left" 
                                  color="black" 
                                  icon="calendar plus alternate"
                                  @click="addEvent"
                                  >
                        Add Another Event
                      </sui-button>
                      <!-- Products -->
                      <div class="ui segment" v-if="productOptions.length > 0">
                        <div class="ui horizontal divider header">
                          <i class="box icon"></i> Products
                        </div>
                        <div class="ui form">
                            <div class="field">
                              <sui-dropdown fluid selection multiple search
                                            placeholder="Select products"
                                            :options="productOptions"
                                            v-model="products"
                              />
                          </div>
                        </div>
                        <transition mode="out-in" name="fade">
                          <div id="products" v-if="selectedProducts.length > 0">
                            <br>
                            <table class="ui selectable single line very compact table">
                            <thead>
                              <tr class="header">
                                <th>Product</th>
                                <th>Amount / Price</th>
                              </tr>
                            </thead>
                              <tbody name="fade" is="transition-group" mode="out-in">
                                <tr v-for="product in selectedProducts"
                                    :key="product.id">
                                  <td>
                                    <div class="ui small header">
                                    <img :src="product.cover">
                                      <div class="content">
                                        {{ product.name }}
                                        <div class="ui tiny black label">
                                          {{ product.type.name }}
                                        </div>
                                        <div class="sub header">
                                          {{ product.description }}
                                        </div>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="ui right labeled input">
                                      <input type="number" 
                                            size="1"
                                            min="0" 
                                            v-model.number="product.amount" 
                                            placeholder="Amount"
                                            @input="$store.dispatch('setSelectedProducts', selectedProducts)">
                                      <div class="ui basic label">
                                        $ {{ product.price.toFixed(2) }} each
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </transition>
                      </div>
                    </sui-form>
                  </sui-tab-pane>
                  <!--- Payment Tab --->
                  <sui-tab-pane title="Payment" icon="money">
                    <sui-form>
                      <div class="four fields">
                        <div class="required field">
                          <label>Taxable</label>
                          <sui-dropdown v-model="taxable" direction="upward"
                                        :options="taxableOptions"
                                        placeholder="Taxable"
                                        selection />
                        </div>
                      </div>
                      <div class="four fields">
                        <div class="field">
                          <label>Payment Method</label>
                          <sui-dropdown fluid direction="upward"
                                        v-model="paymentMethod"
                                        :options="paymentMethods"
                                        placeholder="Payment Method"
                                        selection />
                        </div>
                        <div class="field">
                          <label>Tendered</label>
                          <div class="ui labeled input">
                            <div class="ui basic label">$</div>
                            <input type="text" placeholder="Tendered" 
                              v-model.number="tendered">
                          </div>
                        </div>
                        <sui-form-field :error="parseFloat(change_due) < 0">
                          <label>Change Due</label>
                          <div class="ui labeled input">
                            <div class="ui basic label">$</div>
                            <input placeholder="Change Due" v-model.number="change_due" readonly>
                          </div>
                        </sui-form-field>
                        <sui-form-field :error="errors.hasOwnProperty('reference')">
                          <label>Reference</label>
                          <input type="tel" placeholder="Reference" v-model.number="reference">
                          <transition mode="in-out" name="fade">
                              <sui-label basic color="red" pointing 
                              v-if="errors.hasOwnProperty('reference')">
                                {{ errors.reference[0] }}
                              </sui-label>
                          </transition>
                        </sui-form-field>
                      </div>
                      <div class="ui small horizontal divider header" v-if="payments.length > 0">
                        <i class="money icon"></i>
                        Payments
                      </div>
                      <table class="ui selectable single table" v-if="payments.length > 0">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Method</th>
                            <th>Amount Paid</th>
                            <th>Date</th>
                            <th>Cashier</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="payment in payments" :key="payment.id">
                            <td>
                              <div class="ui header">
                                {{ payment.id }}
                              </div>
                            </td>
                            <td><i class="cc visa icon"></i>
                              {{ payment.method }}
                            </td>
                            <td>$ {{ payment.total }}</td>
                            <td>
                                {{ format(new Date(payment.created_at), $dateFormat.long) }}
                                ({{ distanceInWords(new Date(), new Date(payment.created_at)) }})
                            </td>
                            <td>
                              <i class="user circle icon"></i>
                              {{ payment.cashier.name }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </sui-form>
                  </sui-tab-pane>
                </sui-tab>
                <!--- Memos --->
                <div class="ui small horizontal divider header" v-if="memos.length > 0">
                  <i class="comments outline icon"></i>
                  Memos
                </div>
                <div class="ui comments">
                  <div class="comment" v-for="memo in memos" :key="memo.id">
                    <div class="avatar">
                      <i class="user circle big icon"></i>
                    </div>
                    <div class="content">
                      <div class="author">
                        {{ memo.author.name }}
                        <div class="ui black label">{{ memo.author.role }}</div>
                        <div class="metadata">
                          {{ format(new Date(memo.created_at), $dateFormat.long) }}
                          ({{ distanceInWords(new Date(), new Date(memo.created_at)) }})
                        </div>
                      </div>
                      <div class="text">{{ memo.message }}</div>
                    </div>
                  </div>
                </div>
                <div class="ui form">
                  <div class="field">
                    <label>Write a memo:</label>
                    <textarea v-model="memo" 
                              cols="8" 
                              rows="3" 
                              placeholder="Write a memo" 
                              style="margin-bottom:10em"></textarea>
                  </div>
                  <transition mode="out-in" name="fade">
                      <sui-label basic color="red" pointing 
                                  v-if="errors.hasOwnProperty('memo')">
                        {{ errors.memo[0] }}
                      </sui-label>
                    </transition>
                </div>
              </div>
            </div>
          </div>
          <!--- Totals --->
          <div class="ui grid">
            <div class="sixteen wide column" style="padding: 0 0 0 0 !important">
              <div class="ui bottom fixed sticky" style="width:100%; right:0">
                <div class="ui inverted segment" style="border-radius: 0 !important">
                  <div class="ui container">
                    <div class="ui inverted form">
                      <div class="five fields">
                        <!--- Subtotal --->
                        <div class="field">
                          <label>Subtotal</label>
                          <div class="ui inverted transparent left icon input">
                            <i class="dollar icon"></i>
                            <input style="color:white; font-weight:bold" type="text" v-model="subtotal">
                          </div>
                        </div>
                        <!--- Tax --->
                        <div class="field">
                          <label>Tax ({{ settings.tax * 100 }}%)</label>
                          <div class="ui inverted transparent left icon input">
                            <i class="dollar icon"></i>
                            <input style="color:white; font-weight:bold" type="text" v-model="tax">
                          </div>
                        </div>
                        <!--- Total --->
                        <div class="field">
                          <label>Total</label>
                          <div class="ui inverted transparent left icon input">
                            <i class="dollar icon"></i>
                            <input style="color:white; font-weight:bold" 
                                  type="text" readonly
                                  v-model="total">
                          </div>
                        </div>
                        <!--- Paid --->
                        <div class="field">
                          <label>Paid</label>
                          <div class="ui inverted transparent left icon input">
                            <i class="dollar icon"></i>
                            <input style="color:white; font-weight:bold" type="text" v-model="paid">
                          </div>
                        </div>
                        <!--- Paid --->
                        <div class="field">
                          <label>Tendered</label>
                          <div class="ui inverted transparent left icon input">
                            <i class="dollar icon"></i>
                            <input style="color:white; font-weight:bold" type="text" v-model="tendered">
                          </div>
                        </div>
                        <!-- Balance -->
                        <div class="field">
                          <label>Balance</label>
                          <div class="ui inverted transparent left icon input">
                            <i class="dollar icon"></i>
                            <input style="color:white; font-weight:bold" type="text" v-model="balance">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </template>

  <!-- Event Template -->
  <template id="event-form">
    <div class="ui inverted segment">
      <div class="ui inverted horizontal divider header">
        <i class="calendar check icon"></i> Event #{{ $vnode.key }}
      </div>
      <div class="required field">
        <label>Date</label>
        <div class="ui left icon input">
          <i class="calendar alternate outline icon"></i>
          <flatpickr placeholder="Date"
                     v-model="date"
                     :config="flatpickrConfig"
                     @input="fetchEvents"
          />
        </div>

      </div>
      <div class="required field">
        <label>Event</label>
        <sui-dropdown fluid selection direction="upward"
                      :options="eventOptions"
                      v-model="event"
                      v-if="eventOptions"
                      :placeholder="placeholderMessage"
        />
      </div>
      <transition mode="out-in" name="fade">
        <div class="required field" v-if="this.event != null">
            <label>Tickets</label>
            <sui-dropdown fluid selection direction="upward"
                          multiple 
                          placeholder="Select tickets"
                          :options="ticketOptions"
                          v-model="tickets"
            />
          </div>
      </transition>
      <transition mode="out-in" name="fade">
        <div id="tickets" v-if="selectedTickets  && selectedTickets.length > 0">
          <table class="ui selectable single line very compact table">
            <thead>
              <tr class="header">
                <th>Ticket</th>
                <th>Amount / Price</th>
              </tr>
            </thead>
            <tbody name="fade" is="transition-group" mode="out-in">
              <tr v-for="ticket in selectedTickets" 
                  :key="ticket.id" 
                  
              >
                <td>
                  <div class="ui small header">
                    <i class="ticket icon"></i>
                    <div class="content">
                      {{ ticket.name }}
                      <div class="sub header">{{ ticket.description }}</div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="ui right labeled input">
                    <input type="hidden">
                    <input type="number" 
                           size="1"
                           min="0"
                           max="180" 
                           placeholder="Amount"
                           @change="ticket.event = { id: event }" 
                           v-model.number="ticket.amount"
                           >
                    <div class="ui basic label">
                      $ {{ ticket.price.toFixed(2) }} each
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </transition>
      
    </div>
  </template>

  <!-- Modal Template-->
  <template id="modal">
    <sui-modal v-model="open" basic>
      <sui-header icon="info circle" v-if="errors">Oops...</sui-header>
      <sui-header icon="thumbs up" v-if="message">Alright!</sui-header>
      <sui-modal-content>
        <sui-modal-description v-if="errors">
          <p>Please fix the following errors and try again.</p>
          <ul>
            <li v-for="(error, index) in errors" :key="index">
              {{ error }}
            </li>
          </ul>
        </sui-modal-description>
        <sui-modal-description v-if="message">
          <p>{{ message }}</p>
        </sui-modal-description>
      </sui-modal-content>
      <sui-modal-actions>
        <sui-button color="green" inverted @click="open = !open" icon="check">
          Gotcha!
        </sui-button>
      </sui-modal-actions>
    </sui-modal>
  </template>

  <template id="index">
    <div class="ui container">

      <sui-form>
        <sui-form-fields inline fields="five">
          <sui-form-field>
            <input type="tel" placeholder="Sale Number" style="width:100%">
          </sui-form-field>
          <sui-form-field>
            <sui-dropdown placeholder="Customer" fluid selection>
            </sui-dropdown>
          </sui-form-field>
          <sui-form-field>
            <sui-dropdown placeholder="Organization" fluid selection>
            </sui-dropdown>
          </sui-form-field>
          <sui-form-field>
            <sui-dropdown placeholder="All Sale Status" fluid selection>
            </sui-dropdown>
          </sui-form-field>
          <sui-form-field>
              <sui-dropdown placeholder="All Cashiers" fluid selection>
              </sui-dropdown>
            </sui-form-field>
        </sui-form-fields>
      </sui-form>
      
      <sui-button icon="pencil" color="black" content="New Sale" @click="toggle">
      </sui-button>

      <br><br>

      <sui-dimmer v-if="isLoading" active inverted>
        <sui-loader content="Loading..."></sui-loader>
      </sui-dimmer>

      <transition-group name="list">
        <div :class="`ui ${sale.status} sale segment`" v-for="sale in sales" :key="sale.id" :style="getSaleColor(sale.status)"
            @click="$router.push({name: 'show', params: { id: sale.id }})">
          <div class="ui items">
            <sale-box :sale="sale" :key="sale.id"></sale-box>
          </div>
        </div>
      </transition-group>

      <sui-modal v-model="open" basic>
          <sui-header icon="info circle">Select the event type</sui-header>
          <sui-segment :style="{ backgroundColor: event_type.color, color: 'white' }" id="event-type"
                       @click="$router.push({ name: 'create', params: { type: event_type.id } })"
                       v-for="event_type in event_types" :key="event_type.id">
                       <div class="ui inverted small header">
                          {{ event_type.name }}
                         <div class="sub header">{{ event_type.description }}</div>
                         <div class="ui divider"></div>
                         <div class="sub header">
                           Available tickets:
                           <div class="ui label" v-for="ticket in event_type.allowed_tickets"
                                style="background-color: transparent; border-width: 1px; border-color:white">
                                <i class="ticket icon"></i> {{ ticket.name }}
                                <div class="detail">$ {{ parseFloat(ticket.price).toFixed(2) }}</div>
                           </div>
                         </div>
                       </div>
          </sui-segment>
          <sui-modal-actions>
              <sui-button inverted @click="toggle" icon="close">
                Close
              </sui-button>
            </sui-modal-actions>
      </sui-modal>

      <br><br>

    </div>
  </template>

  <template id="show">
    <div class="ui container">
        <modal></modal>
      <sui-dimmer v-if="isLoading" active inverted>
        <sui-loader content="Loading..."></sui-loader>
      </sui-dimmer>
      <div class="ui black basic button" @click="$router.push({ name: 'index' })">
        <i class="left chevron icon"></i>
        Back
      </div>
      <div class="ui yellow button" 
           @click="$router.push({ name: 'edit', params: { id: sale.id } })">
        <i class="edit icon"></i>
        Edit Sale
      </div>

      <sui-dropdown class="black labeled icon" icon="copy" button pointing text="Documents">
        <sui-dropdown-menu>
          <sui-dropdown-item>
            <i class="file icon"></i>
            Confirmation
          </sui-dropdown-item>
          <sui-dropdown-item>
            <i class="file icon"></i>
            Invoice
          </sui-dropdown-item>
          <sui-dropdown-item>
            <i class="file icon"></i>
            Receipt
          </sui-dropdown-item>
          <sui-dropdown-item>
            <i class="ticket icon"></i>
            Tickets
          </sui-dropdown-item>
        </sui-dropdown-menu>
      </sui-dropdown>

      <h4 class="ui center aligned horizontal divider header">
        <i class="info circle icon"></i> Sale Data
      </h4>

      <transition name="fade" mode="out-in">
        
        <div id="sale-data" v-if="!isLoading">

          <div class="ui three doubling stackable cards">
            
            <div class="ui raised card">
              <div class="content">
                <div class="ui top attached black center aligned large label">
                  <i class="dollar icon"></i> Sale Information
                </div>
                <div class="header">
                  Sale #{{ sale.id }} 
                    <div :class="getSaleLabelColor(sale.status)">
                      <i :class="getSaleIcon(sale.status)"></i>
                      {{ sale.status }}
                    </div>
                </div>
                <div class="meta" v-if="sale.creator">
                  <i class="user circle icon"></i>
                  {{ sale.creator.id == 1 ? "system" : sale.creator.name }}
                </div>
                <div class="meta">
                  <i class="inbox icon"></i> {{ sale.source }}
                </div>
                <div class="description">
                  <i class="pencil icon"></i>
                  {{ format(new Date(sale.created_at), $dateFormat.long) }}
                  ({{ distanceInWords(new Date(), new Date(sale.created_at)) }})
                </div>
                <div class="description" v-if="sale.created_at != sale.updated_at">
                  <i class="edit icon"></i>
                  {{ format(new Date(sale.updated_at), $dateFormat.long) }}
                  ({{ distanceInWords(new Date(), new Date(sale.updated_at)) }})
                </div>
              </div>
            </div>
            
            <div class="ui raised card">
              <div class="content">
                <div class="ui top attached black center aligned large label">
                  <i class="user icon"></i> Customer Information
                </div>
                <div class="header">{{ sale.customer.name }}</div>
                <div class="meta">
                  <i class="user icon"></i> {{ sale.customer.role.name }}
                </div>
                <div class="meta" v-if="sale.customer.organization.id != 1">
                  <i class="university icon"></i>
                  {{ sale.customer.organization.name }}
                </div>
                <div class="description">
                  <i class="map marker alternate icon"></i>
                  {{ sale.customer.address }} {{ sale.customer.city }}, {{ sale.customer.state }}
                  {{ sale.customer.zip }}
                </div>
                <div class="description">
                  <i class="phone icon"></i> {{ sale.customer.phone }}
                </div>
                <div class="description">
                  <i class="at icon"></i> {{ sale.customer.email }}
                </div>
              </div>
            </div>
            
            <div class="ui raised card">
              <div class="content">
                <div class="ui top attached black center aligned large label">
                  <i class="university icon"></i> Organization Information</div>
                <div class="header">{{ sale.organization.name }}</div>
                <div class="meta">
                  <i class="university icon"></i> {{ sale.organization.type }}
                </div>
                <div class="description">
                  <i class="map marker alternate icon"></i> 
                  {{ sale.organization.address }}
                </div>
                <div class="description">
                  <i class="phone icon"></i> {{ sale.organization.phone }}
                </div>
                <div class="description" v-if="sale.organization.website">
                  <i class="globe icon"></i> {{ sale.organization.website }}
                </div>
              </div>
            </div>
          
          </div>
          
          <div class="ui two doubling stackable cards">

            <div class="ui raised card" v-if="sale.events.length > 0">
              <div class="content">
                <div class="ui top attached black center aligned large label">
                  <i class="calendar check icon"></i> 
                  Events and Tickets
                </div>
                <div class="ui list">  
                  <div class="item" v-for="event in sale.events">
                    <h3 :class="sale.refund ? 'ui red header' : 'ui header' ">
                      <img :src="event.show.cover" :alt="event.show.name" class="ui image">
                      <div class="content">
                        <div class="sub header">
                          {{ format(new Date(event.start), $dateFormat.long) }}
                          <div class="ui circular label" :style="{backgroundColor: event.color, color: 'rgba(255, 255, 255, 0.8)'}">
                            {{ event.type.name }}
                          </div>
                        </div>
                        {{ event.show.name }}
                        <div class="sub header">
                          <div class="ui black label" style="margin-left:0" v-for="ticket in event.tickets">
                            <i class="ticket icon"></i>
                            {{ ticket.amount }}
                            <div class="detail">
                              {{ ticket.name }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="ui raised card" v-if="sale.products.length > 0">
              <div class="content">
                <div class="ui top attached black center aligned large label">
                  <i class="box icon"></i> Products
                </div>
                <div class="ui divided list">
                  <div class="item" v-for="product in sale.products">
                    <h3 class="ui header">
                      <img :src="product.cover">
                      <div class="content">
                        <div class="sub header">
                          <div class="ui black label" style="margin-left:0">
                            <i class="box icon"></i>
                            {{ product.quantity }}
                          </div>
                          <div class="ui black label" style="margin-left:0">
                            <i class="dollar icon"></i>
                            {{ parseFloat(product.price).toFixed(2) }} each
                          </div>
                          <div class="ui circular blue label" style="margin-left:0">
                            {{ product.type.name }}
                          </div>
                        </div>
                        <div>{{ product.name }}</div>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <h4 class="ui horizontal divider center aligned header" v-if="sale.grades.length > 0">
            <i class="book icon"></i> Grades
          </h4>
          <div class="ui center aligned basic segment container" v-if="sale.grades.length > 0">
            <div class="ui black label" v-for="grade in sale.grades">
              {{ grade.name }}
            </div>
          </div>

          <h4 class="ui horizontal divider center aligned header">
            <i class="dollar icon"></i> Totals
          </h4>

          <div class="ui tiny five statistics">
            <div class="statistic">
              <div class="label">Subtotal</div>
              <div class="value">
                <i class="dollar sign icon"></i> 
                {{ sale.subtotal }}
              </div>
            </div>
            <div class="statistic">
              <div class="label">Tax</div>
              <div class="value">
                <i class="dollar sign icon"></i> 
                {{ tax }}
              </div>
            </div>
            <div class="statistic">
              <div class="label">Total</div>
              <div class="value">
                <i class="dollar sign icon"></i> 
                {{ sale.total }}
              </div>
            </div>
            <div v-if="paid < 0" class="ui red statistic">
              <div class="label">Paid</div>
              <div class="value"><i class="dollar sign icon"></i> {{ paid }}</div>
            </div>
            <div v-if="paid == 0" class="ui yellow statistic">
              <div class="label">Paid</div>
              <div class="value"><i class="dollar sign icon"></i> {{ paid }}</div>
            </div>
            <div v-if="paid > 0" class="ui green statistic">
              <div class="label">Paid</div>
              <div class="value"><i class="dollar sign icon"></i> {{ paid }}</div>
            </div>
            <div :class="balance > 0 ? 'red statistic' : 'green statistic'">
              <div class="label">Balance</div>
              <div class="value">
                <i class="dollar sign icon"></i> {{ balance }}
              </div>
            </div>
          </div>

          <h4 class="ui horizontal divider center aligned header" v-if="sale.payments.length > 0">
            <i class="money icon"></i> Payments
          </h4>

          <table class="ui selectable single line table" v-if="sale.payments.length > 0">
            <thead>
              <tr>
                <th>#</th>
                <th>Method</th>
                <th>Paid</th>
                <th>Tendered</th>
                <th>Date</th>
                <th>Cashier</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="payment in sale.payments">
                <td>
                  <div class="ui header">{{ payment.id }}</div>
                </td>
                <td>{{ payment.method }}</td>
                <td>$ {{ payment.paid }}</td>
                <td>$ {{ payment.tendered }}</td>
                <td>
                  {{ format(new Date(payment.created_at), $dateFormat.long) }}
                  ({{ distanceInWords(new Date(), new Date(payment.created_at)) }})
                </td>
                <td>
                  <i class="user circle icon"></i>
                  {{ payment.cashier.name }}
                </td>
              </tr>
            </tbody>
          </table>

          <h4 class="ui horizontal divider center aligned header" v-if="sale.memos.length > 0">
            <i class="comment outline icon"></i> Memo
          </h4>
          
            
            <div class="ui comments">
              
                <div class="comment" v-for="memo in sale.memos">
                  <div class="avatar"><i class="user circle big icon"></i></div>
                  <div class="content">
                    <div class="author">
                      {{ memo.author.name }}
                      <div class="ui tiny black label">{{ memo.author.role }}</div>
                      <div class="metadata">
                        <span class="date">
                          {{ format(new Date(memo.created_at), $dateFormat.long) }}
                          ({{ distanceInWords(new Date(), new Date(memo.created_at)) }})
                        </span>
                      </div>
                    </div>
                    <div class="text">
                      {{ memo.message }}
                    </div>
                  </div>
                </div>
              
            </div>


        </div>

      </transition>
    
      <br><br>

    </div>
  </template>

  <template id="create">
    <sales-form :type="$route.params.type"></sales-form>
  </template>

  <template id="edit">
    <sales-form></sales-form>
  </template>

  <template id="sale-box">
    <div class="item">
      <div class="content">
        <div class="header">
          Sale #{{ sale.id }} 
          <div :class="getSaleLabelColor(sale.status)">
            <i :class="getSaleIcon(sale.status)"></i>
            {{ sale.status }}
          </div>
          <div class="ui label">
              $ {{ sale.total }} <div class="detail">total</div>
          </div>
          <div class="ui label">
            $ {{ paid }} 
            <div class="detail">paid</div>
          </div>
          <div class="ui label">
              $ {{ balance }} <div class="detail">balance</div>
          </div>
          <div class="ui top right attached basic label">
            <i class="user circle icon"></i>
            {{ sale.customer.firstname }} {{ sale.customer.lastname }}
            <div class="detail" v-if="sale.organization.id != 1">
              <i class="university icon"></i>{{ sale.organization.name }}
            </div>
          </div>
        </div>
        <div class="meta">
          <i class="user circle icon"></i> 
          {{ sale.creator.firstname }} |
          <i class="pencil icon"></i>      
          {{ format(new Date(sale.created_at), $dateFormat.long) }}
          ({{ distanceInWords(new Date(), new Date(sale.created_at)) }})
          <span v-if="sale.updated_at != sale.created_at">
            | <i class="edit icon"></i> 
            {{ format(new Date(sale.updated_at), $dateFormat.long) }}
            ({{ distanceInWords(new Date(), new Date(sale.updated_at)) }})
          </span>
        </div>
        <div class="meta" v-if="sale.events.length > 0">
          <div class="ui grid">
            <div class="column" v-for="event in sale.events">
              <div class="ui items">
                <div class="item">
                  <div class="ui tiny image">
                    <img :src="event.show.cover" :alt="event.show.name">
                  </div>
                  <div class="content">
                    <div class="meta">
                      <div class="ui label" style="border-color: white; background-color: transparent; color: white; border-width: 1px">
                        {{ event.show.type }}
                      </div>
                      <div class="ui event-type label" :style="{ color: 'white', backgroundColor: event.type.color }">
                        {{ event.type.name }}
                      </div>
                    </div>
                    <div class="header">{{ event.show.name }}</div>
                    <div class="meta">
                        {{ format(new Date(event.start), $dateFormat.long) }}
                        ({{ distanceInWords(new Date(), new Date(sale.updated_at)) }})
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="meta" v-if="sale.products.length > 0">
          <div class="ui label" v-for="product in sale.products" 
               style="border-color: white; background-color: transparent; color: white; border-width: 1px">
            <i class="box icon"></i>{{ product.name }}<div class="detail">
              {{ sale.products.filter(p => p == product).length }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script src="app.js"></script>
</body>
</html>
