textarea {
  font: inherit;
}

#top {
  position: fixed;
  z-index: 1;
  padding: 0 0 0 0 !important;
  margin-top: -1em;
  width: 100vw !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.card#event-type {
  background-color: transparent !important;
}

.card#event-type > .content > .description {
  color: white !important;
}

.card#event-type:hover {
  background-color: white !important;
}

.card#event-type:hover > .content > .description {
  color: black !important;
}

.header > .ui.label {
  border-color: white !important;
  border-width: 1px !important;
  color: white;
  background-color: transparent
}

.ui.sale.segment {
  cursor: pointer !important;
}

.meta > .ui.label > .detail {
  margin-top: 6px !important;
}

.list-enter-active, .list-leave-active {
  transition: all 1s;
}

.list-enter, .list-leave-to {
  opacity: 0;
  transition: translateY(30px);
}